<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ 'admin/css/font-awesome.min.css' | assets }}" rel="stylesheet">
    <link href="{{ 'admin/css/login.css' | assets }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="login">
        <div class="login__form">
          <header>
            <h1>{{ title }}</h1>
          </header>
          <div class="login__form-input">
            {{ body }}
          </div>
        </div>
        <div class="copyright">©2018 All Rights Reserved. Privacy and Terms.</div>
      </div>
    </div>
  </body>
</html>
