{% extends 'admin/app.html' %}

{% block content %}
<div class="main-wrapper">
  <div class="right-spacer"></div>
  <div class="content-body">
    <div class="content-body__wrap" id="site-body">
      <div class="m-4">
        <header>
          <h3>Change Password</h3>
        </header>
      </div>
      {% include 'admin/partials/breadcrumb.html' %}
      <div class="m-4">
        <form method="POST" action="{{ target }}">
          <div class="dataform">
            <div class="dataform__main">
              {% include 'admin/partials/info.html' %}
              <div class="dataform__group">
                <label for="frm-title">Set new Password</label>
                <input class="dataform__input" id="frm-title" type="password" name="password" value="{{ data.password | raw }}" placeholder="New Password..">
                {% include 'admin/partials/error.html' with {'field': 'password'} %}
              </div>
              <div class="dataform__group">
                <div class="dataform__button">
                  <button type="submit">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}